.exercise_equation{
    padding-left: 12px;
}

.exercise_intro{
    padding-left: 8px;
}

.exercise_equation > span {
    font-size: 20px;
    font-weight: 600;
}

.exercise_intro > span{
    font-size: 28px;
    font-weight: 800;
}

.exercise_span > span{
    font-size: 16px;
    padding: 12px 0;
    font-weight: 300;
}

.exercise_span {
    display: flex;
    align-items: center;
}

.exercise_item {
    border: 2px solid #f2f7f7;
    border-radius: 16px;
    padding: 8px;
    margin: 8px;
}

.ant-btn-primary {
    background: #147f8f;
    border-color: #147f8f;
}

.ant-menu-submenu {
    font-size: 16px;
    /* font-family: "font-family: 'Times New Roman',Times,STIXGeneral,serif;"; */
    font-weight: 400
}