.ant-btn-primary {
  background: #147f8f;
  border-color: #147f8f;
}

.solve_plot > span {
  font-size: 16px;
  /* padding: 12px 0; */
  font-weight: 300;
}

.polynomial_poly_button {
  text-align: left;
  border-radius: 8px;
}

.polynomial_poly_button > span {
  font-weight: 600;
  font-size: 16px;
}

.polynomial_poly_item{
    padding-top: 4px;
    padding-bottom: 4px;
    height: 50px;
}

.menu {
  border-radius: 8px;
}

.polynomial_plot_item{
  padding-top: 4px;
    padding-bottom: 4px;
    height: 50px;
}

.polynomial_plot_button {
  text-align: left;
  border-radius: 8px;
}

.polynomial_plot_button > span{
  font-weight: 600;
  font-size: 16px;
}